* {
    margin: 0;
}

.hero-section {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
}

.hero-section > div {
    flex: auto;
    height: 100px;
}

.hero-section > div:first-child {
    background-color: blueviolet;
}

.hero-section > img {
    flex: 1;
    width: 100vw;
}

.features {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.features > div {
    flex: auto;
    height: 100px;
}

.features > div:first-child {
    background-color: black;
}

.features > div:last-child {
    background-color: green;
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
    }

    .hero-section > img {
        width: 400px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features {
        flex-direction: row;
    }
}