* {
    margin: 0;
}

.hero-section {
    display: flex;
    width: 100%;
}

.hero-section > div {
    flex: auto;
    height: 100px;
}

.hero-section > div:first-child {
    background-color: blueviolet;
}

.hero-section > div:last-child {
    background-color: chocolate;
}

.features {
    display: flex;
    width: 100%;
}

.features > div {
    flex: auto;
    height: 100px;
}

.features > div:first-child {
    background-color: black;
}

.features > div:last-child {
    background-color: green;
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .features {
        flex-direction: column;
    }
}